@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Bold.woff') format('woff2'),
    url('../fonts/PlusJakartaSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.bg-custom-image {
  background-image: url('./63e8b0882d6553290e7441aa_Waves.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
